/* VARIABLES DE COLOR */
:root {
  --azul-cielo: #5da6f2;
  --turquesa: #48c9b0;
  --naranja: #bd7106;
  --lila-suave: #b399ff;
  --amarillo-sol: #fffacd;
  --blanco: #ffffff;
  --gris-transparente: rgba(255, 255, 255, 0.07);
  --border-8bit: #ffb347;
}

/* TIPOGRAFÍA RETRO (8 BITS) */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

